<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>jsonsrv-servlet</servlet-name>
        <servlet-class>org.brutusin.jsonsrv.SpringJsonServlet</servlet-class>
        <init-param>
            <param-name>renderer</param-name>
            <param-value>org.brutusin.jsonsrv.human.HumanRenderer</param-value>    
        </init-param>
        <!--
        <init-param>
            <param-name>access-control-allow-origin</param-name>
            <param-value>*</param-value>    
        </init-param>
        -->
        <init-param>
            <param-name>upload-max-request-size</param-name>
            <param-value>300000</param-value>    
        </init-param>
        <init-param>
            <param-name>upload-max-file-size</param-name>
            <param-value>100000</param-value>    
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
   
    <servlet-mapping>
        <servlet-name>jsonsrv-servlet</servlet-name>
        <url-pattern>/srv</url-pattern>
    </servlet-mapping>
    
</web-app>
